a {
    text-decoration: none !important;
    display: inline-block !important;
    color: unset !important;
}
p {
    margin: 0 !important;
}
h1 {
    margin: 0 !important;
}
.menu a {
    transition: 0.2s;
    border-bottom: 3px solid transparent;
}
.menu a:hover {
    color: #0d6efd !important;
    border-bottom: 3px solid #0d6efd;
    cursor: pointer !important;
}
@font-face {
    font-family: "Paladins";
    src: url("https://dgtech.am/Paladins.otf");
}


